* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fa;
}

header {
  background-color: white;
  color: #001533;
  height: 120px;
}

header img {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

header span {
  font-size: 90px;
  display: inline-block;
  vertical-align: middle;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  margin-top: 20px;
}

.square-button {
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 10%;
  line-height: 20px;
  text-align: center;
  background-color: #43aef1;
  padding: 5px;
  color: white;
}

.section-button {
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 10%;
  line-height: 20px;
  text-align: center;
  background-color: white;
  padding: 5px;
  color: lightgrey;
  border: 2px solid lightgrey;
}

.check {
  display: inline-block;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: transparent;
  color: green;
  padding: 2px;
  border: green 1px solid;
  margin: 3px;
}
